@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-y: scroll;
    background: -webkit-linear-gradient(left, #516CD7, #4147BF);;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.03rem;
}
.payment{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}
.payment .paybox{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    min-height: 100px;
    padding: 25px;
    text-align: center;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.payment .paybox img{
    width: 220px;
}
.payment .paybox table{
    margin-top: 20px;
    font-size: 10pt;
    justify-content: center;
}
.payment .paybox table thead{
    position: relative;
    font-size: 12pt;
    font-weight: 700;
}
.payment .paybox table .bluebody{
    position: relative;
    font-size: 11pt;
    font-weight: 600;
    color: #516CD7;
}
.payment .paybox h1{
    font-size: 16pt;
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
}
.payment .paybox h2{
    font-size: 11pt;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: start;
}
.payment .paybox .payform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 6px;
}
.payment .paybox .payform .payform_content{
    text-align: start;
    margin: 20px 20px 0px 20px;
}
.payment .paybox .payform .payform_content p{
    font-size: 14px;
    font-weight: 600;
}
.payment .paybox .payform .payform_content ul{
    font-size: 10pt;
    list-style-type: none;
}
.payment .paybox .payform form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.payment .paybox .payform form table tbody tr th{
    width: 280px;
    text-align: start;
}
.payment .paybox .payform form table tbody tr td{
    text-align: end;
}
.payment .paybox .payform form label{
    font-size: 11.5pt;
    font-weight: 600;
    margin-left: 60px;
}
.payment .paybox .payform form table tbody tr td p{
    font-size: 11.5pt;
    font-weight: 600;
    margin-right: 60px;
}
.payment .paybox .payform form table tbody tr td button{
    padding: 8px 5px 5px 5px;
    width: 35px;
    border: none;
    border-radius: 6px;
    background-color: #f5f5f5;
    cursor: pointer;
}
.payment .paybox .payform form table tbody tr td button .copysolid{
    width: 13px;
}
.payment .paybox .payform form table tbody tr td p.stk{
    color: #FF4E00;
}
.payment .paybox .payform form table tbody tr td p .moneyp{
    color: #FF4E00;
}
.payment .paybox .payform form table tbody tr td p.paycnt{
    color: #FF4E00;
}
.payment .paybox .payform form p.alertpay{
    margin-top: 10px;
    font-size: 11.5pt;
    font-weight: 600;
    color: #516CD7;
}
.payment .paybox .payform form .alertpay button{
    padding: 8px 5px 5px 5px;
    width: 35px;
    border: none;
    border-radius: 6px;
    background-color: #f5f5f5;
    cursor: pointer;
}
.payment .paybox .payform form .alertpay button .copysolid{
    width: 13px;
}
.payment .paybox .payform .paybutton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 315px 0px 315px;
}
.payment .paybox .payform .paybutton input#submit{
  margin: 5px;
  padding: 10px 25px 10px 25px;
  background: -webkit-linear-gradient(left, #516CD7, #4147BF);
  border-radius: 8px;
  border: none;
  width: 150px;
  color: #fff;
  font-size: 11pt;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.payment .paybox .payform .paybutton input#submit:hover{
    transform: scale(1.04);
}
.payment .paybox .payform .paybutton input#cancel{
    margin: 5px;
    padding: 10px 25px 10px 25px;
    background: #FF4E00;
    border-radius: 8px;
    border: none;
    width: 150px;
    color: #fff;
    font-size: 11pt;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .payment .paybox .payform .paybutton input#cancel:hover{
    transform: scale(1.04);
}